{
  // 业务代码使用
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67", // 打包会运行在67版本的上的浏览器
          "safari": "11.1" // 同理
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
// {
//   "plugins": [[
//     "@babel/plugin-transform-runtime",
//     {
//       "absoluteRuntime": false,
//       "corejs": 2,
//       "helpers": true,
//       "regenerator": true,
//       "useESModules": false,
//       "version": "7.0.0-beta.0"
//     }
//   ]]
// }

