{
  // 业务代码使用
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67", // 打包会运行在67版本的上的浏览器
          "safari": "11.1" // 同理
        },
        "useBuiltIns": "usage"
        // 新版本内置了babel-polyfill,配置如上参数
        // 在项目写代码，会自动检测环境如果没有promise，底层会自动的去调babel-polyfill帮我们往环境里注入这个东西
        // promise只是一个例子，其他语法同上
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}

// {
//   "plugins": [[
//     "@babel/plugin-transform-runtime",
//     {
//       "absoluteRuntime": false,
//       "corejs": 2,
//       "helpers": true,
//       "regenerator": true,
//       "useESModules": false,
//       "version": "7.0.0-beta.0"
//     }
//   ]]
// }
// 执行顺序：从下往上，从右往左

